/* responsive.less */

@media screen and (max-width: 768px) {
    .display-none-desk {
        display: block;
    }
}

@media screen and (max-width: 990px) {
    html {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        //overflow: hidden;
    }
    body {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        //overflow-x: hidden;
    }
    header {
        .menu-toggle.icon {
            left: 0;
            right: auto;
        }
    }
    h1 {
        font-size: 50px;
    }
    .display-none-mobile {
        display: none;
    }
    .fixed-action-btn {
        bottom: 25px;
        right: 25px;
    }
    #sidr-main {
        width: 200px;
        &.sidr.left {
            left: 0;
        }
        .sidr-inner {
            padding: 55px 10px 0 20px;
            /* padding-top: 55px; */
        }
    }
    .icon {
        &:hover,
        &:focus,
        &:active {
            color: white;
        }
        padding: 15px 25px;
        width: 80px;
        height: 70px;
        border-radius: 0px 0px 5px 0px;
    }
    #content {
        padding: 0;
    }
    .site-subtitle {
        font-size: large;
        bottom: 10%;
    }
    .panel {
        min-height: 200px;
        height: auto;
    }
    .panel-body {
        width: 100%;
        padding: 0px;
    }
    .panel-title {
        line-height: 1em;
    }
    .panel-heading {
        margin: 0 auto;
        max-width: 700px;
        text-align: center;
        padding: 0px;
        h4 {
            font-family: 'TCCEB';
            font-size: 22px;
            a {
                transition: 0s all cubic-bezier(.8, 0, .2, 1);
                transition: 0s all cubic-bezier(.55, -0.4, .45, 1.4);
            }
        }
    }
    .panel-inner {
        padding: 80px 20px;
    }
    .panel-open {
        min-height: 200px;
        h4 {
            font-size: 22px;
            //text-align: justify;
            //transform: scale(0.5);
            a {
                transition: 0s all cubic-bezier(.8, 0, .2, 1);
                transition: 0s all cubic-bezier(.55, -0.4, .45, 1.4);
            }
        }
        .panel-heading {
            width: 100%;
            padding: 0px 0px 20px;
        }
    }
    section#question {
        .next-btn {
            margin-bottom: 5px;
            width: 100%;
            color: white;
            min-width: 200px;
        }
        .leader-btn {
            width: 100%;
            color: white;
            min-width: 200px;
        }
        .post-icon {
            display: none;
        }
    }
    .question-card {
        padding: 30px 10px;
        background: white;
        border-radius: 5px;
        min-height: 100px;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    section#graph {
        min-height: 400px;
        .row {
            margin: 80px auto;
            .graphs-container {
                width: 100%;
                margin: 50px auto 0px;
            }
        }
    }
    section#diamond {
        .row {
            width: 100%;
            margin: 0px auto;
            padding: 0px;
            .diamond-section {
                .peter-image {
                    width: 100%;
                    max-width: 100%;
                    margin: 10px 0 20px 0px;
                }
                .diamond-title {
                    font-size: 32px;
                    font-weight: bold;
                }
            }
            .pos-1 {
                display: none;
                width: 20x;
                margin-left: auto;
                margin-right: auto;
                //                left: 0px;
                //                right: 100px;
                //                top: 20px;
                position: absolute;
                opacity: 0.6;
            }
            .pos-2 {
                display: none;
                width: 30px;
                margin-left: auto;
                margin-right: auto;
                //                left: 100px;
                //                right: 0px;
                //                top: 40px;
                position: absolute;
                opacity: 0.5;
            }
            .pos-3 {
                display: none;
                width: 50px;
                margin-left: auto;
                margin-right: auto;
                //                left: 0px;
                //                right: 40px;
                //                top: 80px;
                position: absolute;
                opacity: 0.5;
            }
            .shadow {
                height: 10px;
                &.pos-1 {
                    top: 30px;
                }
                &.pos-2 {
                    top: 60px;
                }
                &.pos-3 {
                    top: 100px;
                    height: 10px;
                }
            }
        }
    }
    section#course {
        .row {
            .course-section {
                width: 100%;
                .course-title {
                    font-size: 34px;
                    font-weight: bold;
                }
                .course-btn {
                    .btn {
                        width: 100%;
                    }
                }
            }
            .pos-1,
            .pos-2,
            .pos-3 {
                display: none;
            }
        }
    }
    .site-info,
    .content-area,
    .site-branding,
    .footer-content {
        padding: 0px;
    }
    .no-float-mobile {
        float: none;
    }
    .number {
        font-size: 32px;
        font-family: 'TCCEB';
        line-height: 1.1em;
        margin-bottom: 15px;
        text-align: center;
    }
    /* SECTION & COLORS */
    section#heading {
        position: relative;
        min-height: 300px;
        height: 500px;
        background: url(img/noise2.png), radial-gradient(circle at 50% 100%, rgba(18, 208, 255, 1) 0%, rgba(18, 208, 255, 1) 14%, rgba(8, 76, 194, 1) 100%);
        //background-size: 100% 175%;
        .row {
            height: 100%;
            max-width: 960px;
            margin: 0 auto;
            font-family: 'TCCEB';
            color: white;
            .heading-container {
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                z-index: 1002;
                bottom: 50%;
                .heading-title {
                    text-transform: uppercase;
                    font-size: 36px;
                    text-align: center;
                    line-height: 1.1;
                    span {
                        font-size: 18px;
                        vertical-align: super;
                        top: 30px;
                        position: absolute;
                    }
                }
                .heading-second {
                    color: #555;
                    font-size: 24px;
                    line-height: 1;
                    text-align: center;
                }
            }
            .diamond {
                width: 150px;
                bottom: -63px;
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                z-index: 1001;
                max-width: auto;
                pointer-events: none;
            }
            .shadow {
                height: 25px;
                background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0) 80%);
                background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0) 50%);
                -webkit-transition-duration: .5s;
                transition-duration: .5s;
                &.pos-0 {
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    top: 575px;
                    left: 0;
                    right: 0;
                    width: 175px;
                    z-index: 1001;
                }
            }
        }
    }
    section#graph {
        min-height: 400px;
        .row {
            max-width: 960px;
            margin: 50px auto;
            .graphs-container {
                //width: 720px;
                margin: 20px auto 0px;
                text-align: justify;
            }
            .graph {
                margin: 30px auto;
                display: block;
            }
            .btn {
                width: 100%;
            }
        }
    }
    section#course {
        position: relative;
        min-height: 1300px;
        color: white;
        background: url(img/noise2.png), radial-gradient(circle at 50% 100%, rgba(18, 208, 255, 1) 0%, rgba(18, 208, 255, 1) 14%, rgba(8, 76, 194, 1) 100%);
        .row {
            display: flex;
            width: 100%;
            .course-title {
                text-transform: uppercase;
                font-size: 72px;
                color: white;
                font-family: 'TCCEB';
                text-align: center;
            }
            .course-section {
                width: 100%;
                margin: 50px auto 350px;
            }
            .course-container {
                padding-bottom: 15px;
                padding-top: 15px;
                margin: 15px 0;
            }
            .course-title-container {
                text-transform: uppercase;
                font-size: 36px;
                color: white;
                font-family: 'TCCEB';
                text-align: center;
            }
            .course-content-container {
                text-align: justify;
                color: white;
            }
            .course-btn {
                display: inline-flex;
                margin: 50px 0 50px;
                width: 100%;
                a {
                    margin: 0 auto;
                    .btn {
                        font-size: 36px;
                        color: #0fb3f2;
                        background-color: white;
                        width: 350px;
                        height: 65px;
                    }
                }
            }
            .pos-1 {
                width: 100px;
                margin-left: auto;
                margin-right: auto;
                left: 0px;
                right: 1000px;
                top: 200px;
                position: absolute;
                opacity: 0.6;
            }
            .pos-2 {
                width: 150px;
                margin-left: auto;
                margin-right: auto;
                left: 1000px;
                right: 0px;
                top: 400px;
                position: absolute;
                opacity: 0.5;
            }
            .pos-3 {
                width: 50px;
                margin-left: auto;
                margin-right: auto;
                left: 0px;
                right: 840px;
                top: 800px;
                position: absolute;
                opacity: 0.5;
            }
            .shadow {
                height: 20px;
                background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0) 80%);
                background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0) 80%);
                -webkit-transition-duration: .5s;
                transition-duration: .5s;
                &.pos-1 {
                    top: 300px;
                }
                &.pos-2 {
                    top: 550px;
                }
                &.pos-3 {
                    top: 850px;
                    height: 10px;
                }
            }
        }
    }
    section#diamond {
        position: relative;
        min-height: 730px;
        color: white;
        color: #444;
        background: white;
        .row {
            display: flex;
            width: 100%;
            margin-bottom: 5px;
            .peter-image {
                margin: 5px 20px 15px 25px;
                height: auto;
                /* -webkit-filter: sepia(30%); */
                border-radius: 3px;
                max-width: 330px;
            }
            .diamond-title {
                text-transform: uppercase;
                font-size: 72px;
                color: white;
                color: #444;
                font-family: 'TCCEB';
                text-align: center;
            }
            .diamond-section {
                width: 100%;
                margin: 0px auto;
                padding: 20px 10px;
            }
            .diamond-about-text {
                margin: 20px auto;
                width: 100%;
                text-align: justify;
                float: none !important;
            }
            .pos-1 {
                width: 100px;
                margin-left: auto;
                margin-right: auto;
                left: 0px;
                right: 1000px;
                top: 200px;
                position: absolute;
                opacity: 0.6;
            }
            .pos-2 {
                width: 150px;
                margin-left: auto;
                margin-right: auto;
                left: 1000px;
                right: 0px;
                top: 400px;
                position: absolute;
                opacity: 0.5;
            }
            .pos-3 {
                width: 50px;
                margin-left: auto;
                margin-right: auto;
                left: 0px;
                right: 840px;
                top: 600px;
                position: absolute;
                opacity: 0.5;
            }
            .shadow {
                height: 20px;
                background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0) 80%);
                background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0) 80%);
                -webkit-transition-duration: .5s;
                transition-duration: .5s;
                &.pos-1 {
                    top: 300px;
                }
                &.pos-2 {
                    top: 550px;
                }
                &.pos-3 {
                    top: 650px;
                    height: 10px;
                }
            }
        }
    }
    .post-icon {
        position: absolute;
        width: 160px;
        height: 160px;
        z-index: 1000;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 50px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #post-1 {
        background-color: #f31e57;
        .btn {
            //color: #f31e57;
            background-color: white;
            min-width: 250px;
        }
        .post-icon {
            background: url("./img/meeting-white.svg");
            .post-icon;
            width: 180px;
            height: 180px;
            top: 72px;
        }
    }
    #post-2 {
        background-color: #70c1b3;
        .btn {
            //color: #70c1b3;
            background-color: white;
            min-width: 250px;
        }
        .post-icon {
            background: url("./img/training.svg");
            .post-icon;
            top: 40px;
        }
    }
    #post-3 {
        background-color: #5397e3;
        .btn {
            //color: #5397e3;
            background-color: white;
            min-width: 250px;
        }
    }
    #post-4 {
        background-color: #7a80cb;
        .btn {
            //color: #7a80cb;
            background-color: white;
            min-width: 250px;
        }
    }
    #post-5 {
        background-color: #1daa63;
        .btn {
            //color: #1daa63;
            background-color: white;
            min-width: 250px;
        }
    }
    #post-6 {
        background-color: #f31e57;
        .btn {
            //color: #f31e57;
            background-color: white;
            min-width: 250px;
        }
    }
    #post-7 {
        background-color: #70c1b3;
        .btn {
            //color: #70c1b3;
            background-color: white;
            min-width: 250px;
        }
    }
    #post-8 {
        background-color: #5397e3;
        .btn {
            //color: #5397e3;
            background-color: white;
            min-width: 250px;
        }
    }
    #page {
        position: relative;
    }
    footer {
        bottom: 0px;
        position: absolute;
    }
}