/* responsive.less */

@media screen and (max-width: 768px) {
    header {
        .menu-toggle.icon {
            left: 0;
            right: auto;
        }
    }
    #sidr-main {
        width: 200px;
        &.sidr.left {
            left: 0;
        }
        .sidr-inner {
            padding: 55px 10px 0 20px;
            /* padding-top: 55px; */
        }
    }
    #content {
        padding: 0;
    }
    .site-subtitle {
        font-size: large;
        bottom: 10%;
    }
    .panel {
        min-height: 300px;
        height: auto;
    }
    .panel-body {
        width: 100%;
    }
    .panel-title {
        line-height: 1em;
    }
    .panel-heading {
        margin: 0 auto;
        max-width: 700px;
        text-align: center;
        h4 {
            font-family: 'TCCEB';
            font-size: 35px;
            a {
                transition: 0s all cubic-bezier(.8, 0, .2, 1);
                transition: 0s all cubic-bezier(.55, -0.4, .45, 1.4);
            }
        }
    }
    .panel-open {
        min-height: 800px;
        h4 {
            font-size: 22px;
            //text-align: justify;
            //transform: scale(0.5);
            a {
                transition: 0s all cubic-bezier(.8, 0, .2, 1);
                transition: 0s all cubic-bezier(.55, -0.4, .45, 1.4);
            }
        }
        .panel-heading {
            width: 100%;
        }
    }
    section#question {
        .next-btn {
            margin-bottom: 5px;
        }
    }
    section#graph {
        min-height: 400px;
        .row {
            margin: 80px auto;
            .graphs-container {
                width: 100%;
                margin: 50px auto 0px;
            }
        }
    }
    section#diamond {
        .row {
            width: 100%;
            margin: 50px auto 100px;
            .diamond-section {
                .peter-image {
                    width: 100%;
                }
                .diamond-title {
                    font-size: 50px;
                }
            }
            .pos-1 {
                display: none;
                width: 20x;
                margin-left: auto;
                margin-right: auto;
                //                left: 0px;
                //                right: 100px;
                //                top: 20px;
                position: absolute;
                opacity: 0.6;
            }
            .pos-2 {
                display: none;
                width: 30px;
                margin-left: auto;
                margin-right: auto;
                //                left: 100px;
                //                right: 0px;
                //                top: 40px;
                position: absolute;
                opacity: 0.5;
            }
            .pos-3 {
                display: none;
                width: 50px;
                margin-left: auto;
                margin-right: auto;
                //                left: 0px;
                //                right: 40px;
                //                top: 80px;
                position: absolute;
                opacity: 0.5;
            }
            .shadow {
                height: 10px;
                &.pos-1 {
                    top: 30px;
                }
                &.pos-2 {
                    top: 60px;
                }
                &.pos-3 {
                    top: 100px;
                    height: 10px;
                }
            }
        }
    }
    section#course {
        .row {
            .course-section {
                width: 100%;
                .course-title {
                    font-size: 50px;
                }
                .course-btn {
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }
    .site-info,
    .content-area,
    .site-branding,
    .footer-content {
        padding: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .site-info,
    .content-area,
    .site-branding,
    .footer-content {
        padding: 0px;
    }
}